.indicator {
    // position: absolute;
    position: fixed;
    left: calc(var(--icon-size) * -1 - 0.5ch);
    display: flex;
    align-items: center;

    svg {
        fill: transparent;
        height: var(--icon-size);
        width: var(--icon-size);
    }

    &.selected {
        svg {
            fill: var(--primary);
        }
    }
}
